.body{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
     background-size: cover;
}
.bgcolor{
    background-color:#ffffff;
    border-radius: 20px 20px;
    margin-top: 480px;
    padding: 45px;
    color: #323f4b;
}
.btm{
    color: #323f4b;
    background-color:#ffffff; 
    border-radius: 10px;
    border:3px solid #ffffff;
}
.text{
    color:#5752ab;
    font-family: BreeSerif;

}
.tet1{
    font-family: Roboto;
}
.btm2{
    font-family:Roboto;
    color: #5752ab;
    background-color:#d7dfe9;
    border:1px solid #575;   
}
.btm3{
    background-color: #171f46;
}

